[include]
    path = ~/.gitconfig.inc
[user]
    name = Ricky Tran
    email = rickydtran@gmail.com
[includeIf "gitdir:~/sandbox/swxtchio/"]
    path = ~/sandbox/swxtchio/.gitconfig
[rerere]
    enabled = false
[commit]
    gpgsign = false
[column]
    ui = auto
[branch]
    sort = committerdate
